.firstformv {
    position: relative;
  }
.firstformv, .secondformv, .thirdformv {
color: black;
background-color: #E3E3DF;
margin: 0px 12px 12px 0;
padding: 8px 24px;
border: none;
font-size: 16px;
font-family: 'Graphik';
font-style: normal;
font-weight: 600;
line-height: 20.8px 
}
.formbutton:has(.secondformv) {
  display: none;
}
.formbutton:has(.thirdformv) {
  display: none;
}
.button-wrapper:has(.arrow) {
  position: relative;
  bottom: auto;
}
.arrow {
    background-color: transparent !important;
    color: red !important;
    font-size: 58px;
    right: 5%;
    position: absolute;
    border: none;
    bottom: 5%;
}
.arrow code {
  padding: 0;
}