.firstformv {
    position: relative;
  }
.firstformv, .secondformv, .thirdformv {
  background-color: var(--red-color);
  color: white;
  margin: 5px 10px 5px 0;
  padding: 8px 24px;
  border: none;
}
.formbutton:has(.secondformv) {
  display: none;
}
.formbutton:has(.thirdformv) {
  display: none;
}
.button-wrapper:has(.arrow) {
  position: relative;
}
.arrow:after {
  content: "➔"
}
.arrow {
    background-color: transparent !important;
    color: red !important;
    font-size: 66px;
    right: 34px;
    position: absolute;
    top: 9px;
}