.landing {
  overflow-y: auto;
}

.heroes .toparea {
  padding: 8% 10%;
  
}
.heroes .toparea > div {
  max-width: 1440px;
  margin: 0 auto;
}
@media (width >= 960px) {
  .landingpage {
    max-width: 740px;
    margin: 0 auto;
  }
}
@media (width <= 959px) {
  .landingpage {
    max-width: 660px;
    margin: 0 auto;
  }
}
@media (width <= 500px) {
  .landingpage {
    max-width: 343px;
    margin: 0 auto;
  }
}
.landingpage .default-content-wrapper {
  padding-top: 0;
}
.landingpage h3 {
  margin-bottom: 1%;
  color: var(--blue-color);
}
.landingpage img {
  margin: 1% 0;
}
.landingpage h6 {
  color: var(--blue-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
  margin: 0;
}
.landingpage p {
  color: black;
}
.landingpage h5 {
  color: black;
  margin-left: 5%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
}
.landingpage h5 strong, .landingpage h4 {
  font-weight: 600;
  color: var(--blue-color);
}