.audiotimer {
    text-align: center;
}

.audiotimer div {
    display: inline-block;
}

#minutes {
    position: relative;
    bottom: 30px;
}

#colon {
    position: relative;
    bottom: 30px;
}

#seconds {
    position: relative;
    bottom: 30px;
}