.audiotimer {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.audiotimer div {
    display: inline-block;
}

#minutes, #colon, #seconds {
    position: relative;
    bottom: 30px;
}
