.recordexample-wrapper {
    padding: 0 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.recordexample-wrapper .recordexample > div > div > p:first-child {
    margin-top: 4%;
}

.recordexample-wrapper .recordexample > div > div > p {
    font-size: 20px;
    line-height: 26px;
    width: 81%;
}