#myProgress {
    width: 80%;
    border: 2px solid white;
    margin: 0 auto;
    position: absolute;
    bottom: 8%;
    left: 5%;
  }
  
  #myBar {
    width: 10%;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  color: var(--blue-color);;
  }
