.logo-wrapper {
    padding: 10% 5% 0 5%;;
}

.logo {
    background: url(/icons/logo.svg) no-repeat 0px 0px;
    height: 37px;
    padding-bottom: 2%;
    margin-left: 0%;
    padding-left: 5%;
    padding-top: 1%;
}
.blue-one .default-content-wrapper {
    padding-top: 0;
}
