.toparea {
    background-color: var(--blue-color);
    color: white;
    padding: 8% 5%;
}
.toparea {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.toparea div {
    max-width: 60%;
}
.toparea h2 {
    max-width: 50%;
}