.dyncontent {
    margin: 13% 5% 0 5%;
    width: 80%;
}
.dyncontent h2 {
    font-size: 2rem;
    line-height: 2rem;
}

.dyncontent-wrapper {
    margin-left: 10%;
    margin-right: 10%;
} 

.red-four .dyncontent {
    width: 0;
}

.red-four .dyncontent-wrapper {
    margin-top: 28.3%;
}