.audiorecorder {
    position: relative;
}
audio {
    position: absolute;
    top: 0;
    margin-left: 15%;
}
audio::-webkit-media-controls-play-button {
    color: red;
    background-color: red;
}
audio::-webkit-media-controls-timeline-container, audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display
, audio::-webkit-media-controls-timeline{
    display: none;
}
