.textarea {
 	border: 1.5px solid #460073;
	margin: 7%;
	padding-left: 6%;
    padding-bottom: 6%;
	padding-right: 6%;
	overflow-y: auto;
	position: fixed;
    height: 74%; 
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

.textarea > p {
	margin-top: 3.25%;
}
@media (width >= 1025px) {
	.textarea {
		height: 59%;
	}

}
