/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --blue-color: #0924A3;
  --green-color: #1F8600;
  --red-color: #EB1000;

  /* fonts */
  --body-font-family: Graphik;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Graphik';

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: Graphik;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {

}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}


/* sections */
main .section {
  
}

@media (width >= 600px) {
  main .section {
    
  }
}

@media (width >= 900px) {
  .section > div {
    
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

/*New Styles for Summit*/
header, footer, .blue-two, .blue-three, .green-one, .green-two, .green-three, .red-one, .red-two, .red-three, .red-four, .red-five, .blue-end-one, .blue-end-two, .blue-end-three, .blue-end-four {
  display: none;
}
.blue-one,.blue-two, .blue-three, .green-one, .green-two, .green-three, .red-one, .red-two, .red-three, .red-four, .red-five, .blue-end-one, .blue-end-two, .blue-end-three, .blue-end-four {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}
.default-content-wrapper {
  padding: 8% 5%;
}
.blue-one, .green-one, .red-one, .red-five, .blue-end-one, .blue-end-two {
    color: white;
} 
.blue-one, .blue-end-one, .blue-end-two {
  background-color: var(--blue-color);
}
.blue-two, .blue-three, .blue-end-four {
  color: var(--blue-color);  
}
.green-one {
  background-color: var(--green-color);
}
.green-two, .green-three {
  color: var(--green-color);  
}
.red-one, .red-five {
  background-color: var(--red-color);
}
.red-two, .red-three, .red-four {
  color: var(--red-color);  
}

/*Button Styles*/
.button-container {
  margin-bottom: 0;
  text-align: center;
  width: 90%;
  vertical-align: middle;
  position: absolute;
  bottom: 3%;
}
.mainbutton {
  bottom: 8%;
}
.mainbutton .button {
    width: 343px;
    display: inline-block;
    height: 44px;
    text-align: center;
    background-color: white;
}
.blue-two .mainbutton .button, .blue-three .mainbutton .button  {
    color: white;
}
.blue-two .mainbutton .button, .blue-three .mainbutton .button {
    background-color: var(--blue-color);
}
