/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --blue-color: #460073;
  --green-color: #0041F0;
  --red-color: #EB1000;

  /* fonts */
  --body-font-family: Graphik;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Graphik';

}

@font-face {
  font-family: Graphik;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: 14px;
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: black;
  display: none;
  overflow: hidden /*Needed for animation*/
}
body.appear {
  display: block;
}
p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}
code {
  padding: .125em;
}
pre {
  overflow: scroll;
}
main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--body-font-family);
  text-decoration: none;
  font-family: var(--fixed-font-family);
}
a:hover {
}
a.button:hover, a.button:focus, button:hover, button:focus  {
  cursor: pointer;
}
button:disabled, button:disabled:hover {
  cursor: unset;
}
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* sections */
main .section {
}
@media (width >= 600px) {
  main .section   { 
  }
}
@media (width >= 900px) {
  .section > div {
    
  }
}
/*New Styles for Summit*/
button {
  font-family: var(--body-font-family);
}
h1 {
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: 92px;
}
@media (width <= 600px) {
  h1 {
    font-size: 51px;
    line-height: 53.55px;
  }
}
h2 {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 66.7px;
}
@media (width <= 600px) {
  h2 {
    font-size: 36px;
    line-height: 37.8px;
  }
}
h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43.2px;
}
@media (width <= 600px) {
  h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media (width <= 600px) {
  h4 {
   
  }
}
p, li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
}
@media (width <= 600px) {
  p, li {
    font-size: 14px;
    line-height: 15.6px;
  }
}
h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
}
header, footer, .blue-two, .blue-three, .green-one, .green-two, .green-three, .red-one, .red-two, .red-three, .red-four, .blue-end-two, .blue-end-three, .blue-end-four, .blue-end-five, .blue-end-six {
  display: none;
}
.red-four .default-content-wrapper h2, .red-four .default-content-wrapper p, .countdown-wrapper, .audiotimer-wrapper, .audiorecorder-wrapper, .record-wrapper{
  display: none;
}
.blue-one,.blue-two, .blue-three, .green-one, .green-two, .green-three, .red-one, .red-two, .red-three, .red-four, .blue-end-one, .blue-end-two, .blue-end-three, .blue-end-four, .blue-end-five, .blue-end-six {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}
.default-content-wrapper {
  padding: 8% 5%;
}
.blue-end-three .default-content-wrapper {
  padding: 8% 5% 0 5%;
}
.video-wrapper {
  margin: 0 5%;
}
/*Colors*/
.blue-one, .green-one, .red-one, .blue-end-one, .blue-end-two {
    color: white;
} 
.blue-one, .blue-end-one, .blue-end-two {
  background-color: var(--blue-color);
}
.blue-two, .blue-three, .blue-end-three, .blue-end-four, .blue-end-five {
  color: var(--blue-color);  
}
.green-one {
  background-color: var(--green-color);
}
.green-two, .green-three {
  color: var(--green-color);  
}
.red-one {
  background-color: var(--red-color);
}
.red-two, .red-three, .red-four {
  color: var(--red-color);  
}
/*Spacing*/
.blue-one h1 {
  margin-top: 0;
}
.blue-one h3 {
  max-width: 60%;
}
.blue-three h2 {
  max-width: 82%;
}
.green-one h1 {
  max-width: 89%;
}
.green-two h1 {
 // max-width: 93%;
}
.red-two h1 {
  width: 80%;
}
/*Other Stuff*/
.headphones {
  position: absolute;
  bottom: 3%;
  text-align: center;
  width: 90%;
  background: url(/icons/headphones.svg) no-repeat 28% 0px;
}
@media (width >= 1000px) {
  .headphones {
    background-position-x: 33%;
    color: black;
  }
}
@media (width >= 1180px) {
  .headphones {
    background-position-x: 37%;
    color: red;
  }
}
@media (width <= 999px) {
  .headphones {
    background-position-x: 37%;
    color: blue;
  }
}
@media (width <= 819px) {
  .headphones {
    background-position-x: 37%;
    color: orange;
  }
}

/*Animation*/
.blue-one h2 {
  height: 184px;
  display: none;
}
.green-two h1, .red-two h1 {
  margin: 0;
}
.green-two #them-when-no-one-else-would {
  position: absolute;
  top: 248px;
}
.red-two p {
  position: absolute;
  top: 600px;
  font-size: 16px;
  line-height: 20.8px;
  width: 87%;
}
.green-two h4, .red-two h4 {
  display: none;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: 92px;
  margin: 0;
}
.blue-end-two h4 {
  display: none;
  padding-top: 50%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.blue-end-six {
  overflow-y: auto;
}
.blue-end-six .default-content-wrapper {
  padding-top: 0;
}
.blue-end-six h3 {
  margin-bottom: 1%;
  color: var(--blue-color);
}
.blue-end-six img {
  margin: 1% 0;
}
.blue-end-six h6 {
  color: var(--blue-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
  margin: 0;
}
.blue-end-six p {
  color: black;
}
.blue-end-six h5 {
  color: black;
  margin-left: 5%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
}
.blue-end-six h5 strong, .blue-end-six h4 {
  font-weight: 600;
  color: var(--blue-color);
}
.blue-end-six .startover {
  background-color: var(--blue-color);
  color: white;
  margin-top: 9%;
}
