.button-wrapper, .form .submit-wrapper {
    display: block;
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.fullbutton, .form .submit-wrapper .button {
    width: 343px;
    padding: 12px 0px;
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: 0.32px;
    border: none;
}
.textbutton {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    position: absolute;
    margin: 0 auto;
    border: none;
    display: block;
    background: none;
    margin-top: 3%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: 0.32px;
    text-decoration-line: underline;

}
@media (width <= 600px) {
    .fullbutton, .form .submit-wrapper .button {
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.28px;
    }
    .textbutton {
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.28px;
    }



}

.acceptbutton, .bluethreebutton, .greentwobutton, .redtwobutton, .recordstory, .form .submit-wrapper .button, .blueendthree, .blueendfive, .greenonebutton, .redonebutton {
    color: white;
}
.blueonebutton, .declinebutton, .blueendfour, .startover {
    color: var(--blue-color);
}
.acceptbutton, .bluethreebutton, .blueendthree, .blueendfive {
    background-color: var(--blue-color);
}
.greentwobutton {
    background-color:  var(--green-color);
}
.example, .stoprecording, .continue, .redorec {
    color: var(--red-color);
}
.redtwobutton, .recordstory, .form .submit-wrapper .button {
    background-color:  var(--red-color);
}